<section class="login container-fluid">
    <div class="col-6 offset-3 login-container"> 
                <h1 class="col-12">Login</h1>
                <hr>
                <form class="register-form col-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputUsername" placeholder="Enter Username" ng-model="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" ng-model="password">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
                </form>
                <p class="col-12" style="text-align: center;">You don't have an account ?
                    <span>
                        <a ui-sref="register"> Register here!</a>
                    </span>
                </p>
    </div>
</section>
