<div class="tickets container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="tickets-h1">Choose your pass</h1>
            <hr>
        </div>
        <div class="product-1 col-sm-4">
            <img src="../../docs/pass-1.png" class="pass-img">
            <br> 
            <h3>{{title1}}</h3>
            <br>
            ${{price1}}
            <br>
            <button class="add-btn btn btn-outline-primary" value="1 day pass" ng-click="addToCart('1 day pass')">Add to cart</button>
        </div>
        <div class="product-2 col-sm-4">
            <img src="../../docs/pass-2.png" class="pass-img">
            <br> 
            <h3>{{title2}}</h3>
            <br>
           ${{price2}}
            <br>
            <button class="add-btn btn btn-outline-primary" value="2 days pass" ng-click="addToCart('2 days pass')">Add to cart</button>
        </div>
        <div class="product-3 col-sm-4">
            <img src="../../docs/pass-3.png" class="pass-img">
            <br> 
            <h3>{{title3}}</h3>
            <br>
            ${{price3}}
            <br>
            <button class="add-btn btn btn-outline-primary" value="3 days pass" ng-click="addToCart('3 days pass')">Add to cart</button>
        </div>
    </div>
</div>