/* GENERAL ***********************************************************************************************************************/
*{
    margin: none;
    padding: none;
}

body{
    font-weight: lighter;
}

h3{
    font-weight: lighter;
}
.container-fluid{
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
    margin: 0px;
}

button:focus{
    outline: none;
}

a:hover{
    text-decoration: none;
    color: whitesmoke;
}

a{
    color: whitesmoke;
}

/* NAVBAR ***********************************************************************************************************************/

nav{
    box-shadow: 0px 1px 18px 10px rgba(0,0,0,0.23);
    background: whitesmoke;
}



a.nav-link{
    color: whitesmoke;
    font-size: 1rem;
    padding: 5px;
    border-radius: 3px;
}

a.nav-link:focus{
    background-color: #E0A800;
    color:black;
}


a.nav-link:hover{
 background-color: #E0A800;
 color:black;
 transition: 0.7s;
}

/* HOME VIEW ********************************************************************************************************************/

.home-section{
    height: 100vh;
    overflow: hidden;
}

.background{
    text-align: center;
    position: relative;
    height: 100vh;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .background {
        background-image: url("/docs/bg-2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #myVideo{
        display: none;
    }
  }

h4.home-text{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 3vw;
    max-width: 100%;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px black;
}

img.logo-JP{
    max-width: 100%;
    max-height: 400px;
}


#myVideo{
    height: 100vh;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%; 
    object-fit: cover;
    z-index: -3;
}

.filter{
    position: absolute;
    right: 0;
    top: 56px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(179,39,27,1) 100%);
    opacity: 0.2;
    z-index: -2;
}


.right-gate{
    position: absolute;
    top:0px;
    right: 0px;
    background-color: rgb(54, 15, 15);
    z-index: 100;
    height: 100%;
    width: 50%; 
    margin-left: 0px;
    background-image: url(./docs/gate-peinture.jpg);
    background-position: center;
    background-position-x: -570px;
    background-size: cover;
}

.left-gate{
    position: absolute;
    top:0px;
    left: 0px;
    background-color: rgb(195, 101, 101);
    z-index: 0;
    height: 100vh;
    width: 50%;
    background-image: url(./docs/gate-peinture.jpg);
    background-position: center;
    background-position-x: 70px;
    background-size: cover;
}

button.enter-button{
    display: flex;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 40%;
    z-index: 101;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

button.enter-button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.slide-left{
    transform: translateX(-1000px);
    transition: 5s;
}

.slide-right{
    transform: translateX(1000px);
    transition: 5s;
}

/* TICKETS VIEW *******************************************************************************************************************/

.tickets{
    display: block;
    background-color: whitesmoke;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: gray;
}

@media screen and (max-width: 720px){
    .tickets{
    height: auto;
}
}

.tickets h1{
    text-align: center;
    padding-top: 40px;
    font-weight: lighter;
}


.pass-container{
    position: relative;
    background: white; 
    border: 1px solid white; 
    border-radius: 10px; 
    text-align:center; 
    box-shadow: lightgray 2px 2px 10px; 
    margin: 20px; 
    padding: 10px 0px;
    overflow: hidden;
}

.pass-hole{
    height: 25px;
    width: 100px;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: inset 2px 2px 10px;
    margin: auto;
    margin-bottom: 30px;
}

.pass-container h3{
    font-weight: bolder;
    color: #E0A800;
    background-color: darkred;
    padding:10px;
}

.pass-container:hover{
    box-shadow: lightgray 10px 10px 20px !important;
    transition: 0.3s;
} 

.pass-container:hover .pass-hole{
    box-shadow:   inset lightgray 10px 10px 20px !important;
    transition: 0.3s;
} 


hr{
    height: 1px;
    width: 50%;
    margin-bottom: 40px;
}

.pass-img{

    max-width:100px;
    height: auto;
}

.add-btn{  
    margin-left: auto;
}

/* THE PARK VIEW *****************************************************************************************************************/

.thePark{
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: whitesmoke;
}

.top-image{
    height: 50vh;
    background-image: url('./docs/hawaii-1867849_1920.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 0px;
    margin-bottom: 60px;
}

.top-image h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0px;
    font-size: 9vw;
    font-weight: lighter;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
}

.spicies-container, .size-container{
    height: 50vh;
    box-shadow: 0px 5px 10px grey; 
    color: grey;
    margin: 10px;
    padding: 0;
}

.spicies-img{
    height: 50%;
    background-image: url('./docs/JP-Amber.jpg');
    background-position: center;
    background-size: cover;
}

.size-img{
    height: 50%;
    background-image: url('./docs/Gate_Entrance.jpg');
    background-position: center;
    background-size: cover;
}


.spicies-text, .size-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding:5px;
    font-size: 0.8rem;
}

.layout{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.circle{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    border:3px solid #E0A800;
    justify-content: center;
    align-items: center;
    color: #E0A800
}



.activities-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    color: #343A40;
    margin-top:60px;
    margin-bottom:60px;
}

.activities{
    text-align: center;
}

.explorer-container{
    padding: 0px;
    height: 50vh;
    margin-bottom: 30px;
    background-image: url('./docs/Explorer.jpg');
    background-position: center;
    background-size: cover;
}

.explorer-container p{
    margin: 0;
    padding: 15px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 1.5rem;
}





/* CART VIEW *********************************************************************************************************************/

.cart{
    background-color: whitesmoke;
    height: 700px;
    text-align: center;
    color: gray;
}

@media screen and (max-width: 480px){
    .cart{
        height:900px;
    }
}

/* LOGIN & REGISTER VIEW ********************************************************************************************************/

.login, .register{ 
    padding-top: 50px;
    padding-bottom:50px;
    height: auto;
    background-image: url('./docs/hawaii-1867849_1920.jpg');
    background-position: center;
    background-size: cover;
}


.login-container, .register-container{
    overflow: hidden; 
    border-radius: 10px; 
    height: 500px; 
    padding: 0px; 
    box-shadow: black 5px 5px 20px;
    max-width: 600px;
    margin: auto;
    background-color: rgba(52, 58, 64, 0.4);
    text-align: center;
    color: #E0A800;
}

.form-control{
    background-color: transparent;
    border-color: #E0A800;
    color: whitesmoke;
}

.form-control:focus{
    background-color: transparent;
    border-color: #E0A800;
    color: whitesmoke;
}

@media screen and (max-width: 480px){
    .login-container, .register-container{
        max-width: 300px;
        margin: auto;
    }
}


/* CHECKOUT VIEW ******************************************************************************************************************/


section.checkout{
    background-color: whitesmoke;
    height: 100vh;
    
}

/* FOOTER ************************************************************************************************************************/

footer{
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343A40;
    overflow: hidden;
    border-top: 1px solid lightgray;
}

p.copyright{
    color:whitesmoke;
    font-weight: lighter;
    margin: 10px auto 10px auto ;
}
