<section class="thePark container-fluid">
    <div class="row justify-content-between">
        <div class="top-image col-md-12 ">
            <h1>Welcome to Isla Nublar</h1>
        </div>
        <div class="col-md-6 spicies-container">
            <h3 class="circle">15</h3>
            <p>15 spicies lives in captivity. 10 herbivors and 5 carnivors.</p>
        </div>
        <div class="col-md-6 size-container">
                <h3 class="circle">125km</h3>
                <p> Based on the island of Isla Nublar, the park covers a superfitie of more than 125km.</p>
        </div>
        <div class="col-md-12 activities-container">
            <div class="activities">
                <h3 class="circle">30</h3>
                <p>STORES</p>
            </div>
            <div class="activities">
                <h3 class="circle">14</h3>
                <p>RESTAURANTS</p>
            </div>
            <div class="activities">
                <h3 class="circle">12</h3>
                <p>HOTELS</p>
            </div>
        </div>
        <div class="col-md-12 explorer-container">
            <div class="explorer-layout"></div>
            <p>Travel through the park aboard the brand new Ford Explorer. You will find a lot of accessories such as a touch screen and night vision glasses.</p>
        </div>
    </div>
</section>