<section class="cart container-fluid">
    <div class="row justify-content-center">
        <h1 class="col-12">Your Jurassic cart</h1>
        <h3 class="col-4">Title</h3>
        <h3 class="col-4">Price</h3>
        <h3 class="col-4">Quantiy</h3>
        <div class="container-fluid myCart col-12">
            <div class="row justify-content-center" ng-repeat="product in myProduct">
                <div class="col-4">
                    <p>{{product.title}}</p>
                </div>
                <div class="col-4">
                    <p>{{product.price | currency}}</p>
                </div>
                <div class="col-4">
                    <input class="col-md-4" type="number" ng-model="product.quantity" style="text-align: center;">
                </div>  
            </div>
            <hr>
            <div class="col-12 total">
                <h3>Total Order</h3>
                {{total() | currency}}
            </div>
            <button type="reset" ng-click="clearCart()" ng-if="myProduct.lenght != 0" class="btn btn-outline-danger">Clear cart</button>
            <button type="reset" ng-click="checkout()" ng-if="myProduct.lenght != 0" class="btn btn-outline-success">Checkout</button>
        </div>
    </div>
</section>